
webfiles/root/usr/local/bin/install_ipa.sh
wavelet.pub
wavelet
fedora-coreos-40.20240504.3.0-live.x86_64.iso.sig
fedora-coreos-40.20240504.3.0-live.x86_64.iso
waveletpw.secure
server_custom.yml
server.ign
encoder_custom.yml
decoder_custom.yml
decoder.ign
rootpw.secure
