dev_flag
fedora_repo_cache.sh
ignition_files/decoder_custom.yml
ignition_files/server.ign
ignition_files/server_custom.yml
ignition_files/wavelet_keys.csv
logs/
var/
wavelet-root-ssh
wavelet-root-ssh.pub
wavelet-ssh
wavelet-ssh.pub
decoder_custom.yml
server_custom.yml
fedora-coreos*
test.png
ca.crt
test.sh
PROJECT_MAP.md

.idea/