TODOS
TODO-OCT
testedhardware.list
wavelet.pub
wavelet
wavelet_id_ed25519.pub
wavelet_decoders
wavelet_encoders
wavelet_evidence
wavelet_hybrid
wavelet_id_ed25519.pub
wavelet_livestream
media/witnesscam.png
media/witnesscam.pam
media/recording_watermark.pam
media/presentationhdmi.png
media/presentationhdmi.pam
media/ny-stateseal.pam
media/ny-stateseal.bmp
media/livestream_watermark.pam
media/livestream_off.pam
media/hybrid.png
media/hybrid.pam
media/documentcam.png
media/documentcam.pam
media/blank1080.pam
media/blank1080.bmp
media/blank.bmp
fedora-coreos-38.20230722.3.0-live.x86_64.iso
fedora-coreos-38.20230722.3.0-live.x86_64.iso.sig
decoder.ign
server.ign
decoder_custom.yml
encoder_custom.yml
wavelet_server.iso
wavelet_decoder.iso
webfiles/root/usr/local/bin/detectv4l.sh
webfiles/root/usr/local/bin/old_detectv4l.sh
fedora-coreos-39.20231119.3.0-live.x86_64.iso
HOSTNAME=fsvr1.birdopolis.andymelville.net
webfiles/root/usr/local/bin/etcd-member.service_old.sh
webfiles/root/usr/local/bin/wavelet_controller_1.sh
Windows.zip
Windows/Windows_Shartscreen.ps1
Windows/Wi-Fi-Wavelet-1.xml
webfiles/root/usr/local/bin/wavelet_controller_1.sh
webfiles/root/usr/local/bin/etcd-member.service_old.sh
webfiles/root/home/wavelet/http-php/html/drawflow-element.js
server_custom.yml
waveletpw.secure
webfiles/root/usr/local/bin/connectwifi.sh
Kernel-change.ContainerFile
installer.log
webfiles/root/usr/local/bin/connectwifi.sh
rootpw.secure
rootpw.secure
fedora-coreos-39.20240309.3.0-live.x86_64.iso
webfiles/root/usr/local/bin/.wavelet_encoder.sh.~7a0497bb
webfiles/root/usr/local/bin/.wavelet_controller.sh.~3b4fab4a
ignition_files/.ignition_encoder.yml.~660b393b
.coreos_installer.sh.~692bff20
fedora-coreos-40.20240504.3.0-live.x86_64.iso
webfiles/root/usr/local/bin/build_httpd_quadlet.sh
fedora-coreos-40.20240504.3.0-live.x86_64.iso.sig
wavelet-files.tar.xz
