/* Button */

/* Three sets - first is the button initial state */
@keyframes btn-glow {
	0% {
		background-position: 0 100%;
	}
	100% {
		background-position: 0 300%;
	}
}
.btn {
	position: relative;
	display: inline-block;
	margin: .1em;
	/* border-radius: 999em; */
	border-radius: 2em;
	color: #1d5161;
	font: /*500*/ 30 12px/1 "Chivo Mono", monospace;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.btn__inner {
	padding: 1px;
	position: relative;
	z-index: 2;
	display: block;
	overflow: hidden;
	border-radius: inherit;
}
.btn__inner:before {
	position: absolute;
	inset: 4px;
	z-index: 1;
	display: block;
	animation: btn-glow 5s infinite linear;
	background: linear-gradient(
				20deg, 
			#00f8f1, 
			#ffbd1e20 16.5%, 
			#fe848f 33%, 
			#fe848f20 49.5%, 
			#00f8f1 66%, 
			#00f8f160 85.5%, 
			#ffbd1e 100%) 0 100%/100% 200%;
	border-radius: inherit;
	filter: blur(5px);
	mix-blend-mode: overlay;
	opacity: 0;
	transition: opacity 0.2s linear 0.1s;
	content: "";
}
.btn__label {
	position: relative;
	display: block;
	overflow: hidden;
	padding: .5em 2em .5em 1em;
	border-radius: inherit;
	color: transparent;
	white-space: nowrap;
}
.btn__label:before, .btn__label:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	padding: inherit;
	width: 100%;
	height: 100%;
	color: white;
	white-space: nowrap;
	transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}
.btn__label:before {
	transform: translate3d(0, 0, 0);
	content: attr(data-label);
}
.btn__label:after {
	transform: translate3d(0, -100%, 0);
	content: attr(data-hover);
}
.btn__label__background {
	position: absolute;
	inset: -100px;
	display: block;
	background: #093740 url("./noise_2.png");
	background-blend-mode: overlay;
	animation: noise-background 0.5s steps(1) infinite;
}
.btn__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.btn__background:before, .btn__background:after {
	position: absolute;
	inset: 0;
	display: block;
	border-radius: inherit;
	content: "";
}
.btn__background:before {
	background: white;
	transition: background 0.3s linear 0s;
}
.btn__background:after {
	animation: btn-glow 5s infinite linear;
	background: linear-gradient(-20deg, #00f8f1, #00f8f120 16.5%, #00f8f1 33%, #00f8f110 49.5%, #00f8f1 66%, #00f8f100 85.5%, #00f8f1 100%) 0 100%/100% 200%;
	filter: blur(5px);
	opacity: 0;
	transition: opacity 0s linear 0s;
}
.btn:hover .btn__background:before {
	background: #4cede1;
	transition: background 0.03s linear;
}
.btn:hover .btn__background:after {
	opacity: 1;
	transition: opacity .2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
.btn:hover .btn__inner:before {
	opacity: 0.5;
}
.btn:hover .btn__label:before, .btn:hover .btn__label:after {
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(1, -0.6, 0, 1.6);
}
.btn:hover .btn__label:before {
	transform: translate3d(0, 100%, 0);
}
.btn:hover .btn__label:after {
	transform: translate3d(0, 0, 0);
}

/* Background */
@keyframes noise-background {
	0% {
		transform: translate3d(0, 0, 0);
	}
	20% {
		transform: translate3d(50px, 30px, 0);
	}
	40% {
		transform: translate3d(10px, 50px, 0);
	}
	60% {
		transform: translate3d(30px, 20px, 0);
	}
	80% {
		transform: translate3d(50px, 0, 0);
	}
	100% {
		transform: translate3d(100px, 0, 0);
	}
}

/* This is when data-active is set to 1 in the html */
.btn[data-active="1"] {
	color: red;
	transition: .2s;
} 
.btn[data-active="1"] > .btn__inner {
	color: red;
	padding: 1px;
	position: relative;
	z-index: 2;
	display: block;
	overflow: hidden;
	border-radius: inherit;
}
.btn[data-active="1"] > .btn__inner:before {
	position: absolute;
	inset: 4px;
	z-index: 1;
	display: block;
	animation: btn-glow 5s infinite linear;
	background: linear-gradient(
				20deg, 
				#00f8f1, 
				#ffbd1e20 16.5%, 
				#fe848f 33%, 
				#fe848f20 49.5%, 
				#00f8f1 66%, 
				#00f8f160 85.5%, 
				#ffbd1e 100%
				) 0 100%/100% 200%;
	border-radius: inherit;
	filter: blur(5px);
	mix-blend-mode: overlay;
	opacity: 0;
	transition: opacity 0.2s linear 0.1s;
	content: "";
}
.btn[data-active="1"] > .btn__label {
	transform: translate3d(0, -100%, 0);
	content: "Active";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	padding: inherit;
	width: 100%;
	height: 100%;
	color: red;
	white-space: nowrap;
	transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}
.btn[data-active="1"] > .btn__label:before, .btn__label:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	padding: inherit;
	width: 100%;
	height: 100%;
	color: white;
	white-space: nowrap;
	transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}
.btn[data-active="1"] > .btn__label:before {
	transform: translate3d(0, 0, 0);
	content: attr(data-label);
}
.btn[data-active="1"] > .btn__label:after {
	transform: translate3d(0, -100%, 0);
	content: attr(data-activated);
}
.btn[data-active="1"] > .btn__label__background {
	position: absolute;
	inset: -100px;
	display: block;
	background: #093740 url("./noise_2.png");
	background-blend-mode: overlay;
	animation: noise-background 0.5s steps(1) infinite;
}
.btn[data-active="1"] > .btn__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	 background: radial-gradient(
			circle, 
			rgba(255,30,30,1) 0%, 
			rgba(219,26,26,1) 21%, 
			rgba(89,11,11,0.4948179955575981) 54%, 
			rgba(0,0,0,0) 100%
			);
												0 100% / 100% 200%;
	
	filter: blur(3px);
	transition: opacity 0s linear 0s;
	transition: opacity 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
.btn[data-active="1"] > .btn__background:before, .btn__background:after {
	position: absolute;
	inset: 0;
	display: block;
	border-radius: inherit;
	content: "";
}
.btn[data-active="1"] > .btn__background:before {
	background: red;
	transition: background 0.3s linear 0s;
}
.btn[data-active="1"] > .btn__background:after {
	animation: btn-glow 5s infinite linear;
	background: linear-gradient(-20deg, #00f8f1, #00f8f120 16.5%, #00f8f1 33%, #00f8f110 49.5%, #00f8f1 66%, #00f8f100 85.5%, #00f8f1 100%) 0 100%/100% 200%;
	filter: blur(5px);
	opacity: 0;
	transition: opacity 0s linear 0s;
}
.btn[data-active="1"] > .btn:hover .btn__background:before {
	background: #4cede1;
	transition: background 0.07s linear;
}
.btn[data-active="1"] > .btn:hover .btn__background:after {
	opacity: 1;
	transition: opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
.btn[data-active="1"] > .btn:hover .btn__inner:before {
	opacity: 0.5;
}
.btn[data-active="1"] > .btn:hover .btn__label:before, .btn:hover .btn__label:after {
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(1, -0.6, 0, 1.6);
}
.btn[data-active="1"] > .btn:hover .btn__label:before {
	transform: translate3d(0, 100%, 0);
}
.btn[data-active="1"] > .btn:hover .btn__label:after {
	transform: translate3d(0, 0, 0);
}

/* And for an option that now has data-active 0 set */
.btn[data-active="0"] {
	color: red;
	transition: .2s;
}	
.btn[data-active="0"] > .btn__inner {
	color: red;
	padding: 1px;
	position: relative;
	z-index: 2;
	display: block;
	overflow: hidden;
	border-radius: inherit;
}
.btn[data-active="0"] > .btn__inner:before {
	position: absolute;
	inset: 4px;
	z-index: 1;
	display: block;
	animation: btn-glow 5s infinite linear;
	background: linear-gradient(
				20deg, 
				#00f8f1, 
				#ffbd1e20 16.5%, 
				#fe848f 33%, 
				#fe848f20 49.5%, 
				#00f8f1 66%, 
				#00f8f160 85.5%, 
				#ffbd1e 100%
				) 0 100%/100% 200%;
	border-radius: inherit;
	filter: blur(5px);
	mix-blend-mode: overlay;
	opacity: 0;
	transition: opacity 0.2s linear 0.1s;
	content: "";
}
.btn[data-active="0"] > .btn__label {
	transform: translate3d(0, -100%, 0);
	content: "Active";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	padding: inherit;
	width: 100%;
	height: 100%;
	color: red;
	white-space: nowrap;
	transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}
.btn[data-active="0"] > .btn__label:before, .btn__label:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	padding: inherit;
	width: 100%;
	height: 100%;
	color: white;
	white-space: nowrap;
	transition: transform 0.3s cubic-bezier(1, 0, 0, 1) 0s;
}
.btn[data-active="0"] > .btn__label:before {
	transform: translate3d(0, 0, 0);
	content: attr(data-label);
}
.btn[data-active="0"] > .btn__label:after {
	transform: translate3d(0, -100%, 0);
	content: attr(data-activated);
}
.btn[data-active="0"] > .btn__label__background {
	position: absolute;
	inset: -100px;
	display: block;
	background: #093740 url("./noise_2.png");
	background-blend-mode: overlay;
	animation: noise-background 0.5s steps(1) infinite;
}
.btn[data-active="0"] > .btn__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	/* background: radial-gradient(
			circle, 
			rgba(255,30,30,1) 0%, 
			rgba(219,26,26,1) 21%, 
			rgba(89,11,11,0.4948179955575981) 54%, 
			rgba(0,0,0,0) 100%
			);
						0 100% / 100% 200%;
	*/
	filter: blur(3px);
	transition: opacity 0s linear 0s;
	transition: opacity 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
.btn[data-active="0"] > .btn__background:before, .btn__background:after {
	position: absolute;
	inset: 0;
	display: block;
	border-radius: inherit;
	content: "";
}
.btn[data-active="0"] > .btn__background:before {
	background: white;
	transition: background 0.3s linear 0s;
}
.btn[data-active="0"] > .btn__background:after {
	animation: btn-glow 5s infinite linear;
	background: linear-gradient(-20deg, #00f8f1, #00f8f120 16.5%, #00f8f1 33%, #00f8f110 49.5%, #00f8f1 66%, #00f8f100 85.5%, #00f8f1 100%) 0 100%/100% 200%;
	filter: blur(5px);
	opacity: 0;
	transition: opacity 0s linear 0s;
}
.btn[data-active="0"] > .btn:hover .btn__background:before {
	background: #4cede1;
	transition: background 0.07s linear;
}
.btn[data-active="0"] > .btn:hover .btn__background:after {
	opacity: 1;
	transition: opacity 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
}
.btn[data-active="0"] > .btn:hover .btn__inner:before {
	opacity: 0.5;
}
.btn[data-active="0"] > .btn:hover .btn__label:before, .btn:hover .btn__label:after {
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(1, -0.6, 0, 1.6);
}
.btn[data-active="0"] > .btn:hover .btn__label:before {
	transform: translate3d(0, 100%, 0);
}
.btn[data-active="0"] > .btn:hover .btn__label:after {
	transform: translate3d(0, 0, 0);
}


body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: white;
	font: 300 14px/1 "Chivo Mono", monospace;
	letter-spacing: 0.045em;
}
body:before {
	position: absolute;
	inset: -100px;
	z-index: -1;
	display: block;
	background: #093740 url("./noise_2.png");
	background-blend-mode: overlay;
	animation: noise-background 0.5s steps(1) infinite;
	content: "";
}

.title {
	display: inline-block;
	align-items: left;
	border: 1px solid white;
	border-radius: .7em;
	padding: 8px 8px 8px 8px;
	margin:  15px 15px 15px 15px;
	color:white;
	text-transform: uppercase;
	font-size: large;
	text-align: center;
	outline: 1px solid white;
	outline-offset: 2px;
}
.input_divider {
	display: inline-block;
	align-items: center;
	border: 1px solid white;
	border-radius: .7em;
	padding: 5px 5px 5px 5px;
	margin:  5px 5px 5px 5px;
	color:white;
	background: #133446;
	outline: 1px solid white;
	outline-offset: 2px;
	font-size: small;
	text-transform: uppercase;  
}
.input_divider_inner {
	display: inline-block;
	background: #055280;
	padding: .6em;
	margin: .5em;
	border-radius:.8em;
	outline: 1px solid white;
	outline-offset: 2px;
	text-transform: uppercase;
	font-size:small;
	text-align:left;
	border: .5px solid white;
}
.input_divider_device {
	display: inline-block;
	background: #087fc4;
	padding: .6em;
	margin: .5em;
	border-radius:.8em;
	outline: 1px solid white;
	outline-offset: 2px;
	text-transform: uppercase;
	font-size:small;
	text-align:left;
	border: .5px solid white;
}
.host_divider {
	display: inline-block;
	box-sizing: border-box;
	background: #133446;
	padding: .6em;
	margin: .5em;
	border-radius:.8em;
	outline-offset: 2px;
	text-transform: uppercase;
	font-size:small;
	text-align:left;
	border: .5px solid white;
}
.hostTextBox {
	position: relative;
	display: inline-block;
	border-radius: 2em;
	color: #1d5161;
	font: /*500*/ 30 12px/1 "Chivo Mono", monospace;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.hostMenuElement {
	display: inline-block;
}
.hostMenu {
	display: inline-block;
	position: absolute;
	width: auto;
	transform: translateX(50px);
	height: 50px;
	padding: 2px;
	backdrop-filter: blur(8px) saturate(25%);
	-webkit-backdrop-filter: blur(8px) saturate(25%);
	background-color: rgba(17, 25, 40, 0.12);
	border-radius: 12px;
	border: .1em solid rgba(255, 255, 255, 0.25);
	opacity: 0;
	transform: rotate(-90deg);
}
.hostMenuOverlay {
	position: absolute;
	display: 
	width: 120%;
	height: 100px;
	opacity: 0;
	background: white;
	z-index: 9999;
}
input.openHostMenuCheckbox[type="checkbox"]:checked ~ .hostMenu {
	opacity: .9;
	transform: rotate(0deg);
	transition: all ease-in-out .3s;
}
input.openHostMenuCheckbox[type="checkbox"]:checked ~ .hostMenuOverlay {
		opacity: 1;
		backdrop-filter: blur(0px) saturate(25%);
		-webkit-backdrop-filter: blur(0px) saturate(25%);
		transform: rotate(0deg);
		transition: all ease-in-out .3s;
}
input.openHostMenuCheckbox[type=checkbox] {
	transition: all ease-in-out .3s;
	opacity: 0;
	width: 0;
}
.hostMenuIconToggle {
	transition: all 0..3s;
	display: inline-block;
	width: 100%;
	height: 1.6em;
	margin: .1em;
	border: .5em black;
	border-radius: 2em;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 99;
}
.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	height: 3px;
	/*padding: .5px .5px .5px .5px;*/
	margin: 1em;
	width: 2em;
	background-color: #fff;
}
.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	/*padding: 3px 2px 3px 2px;*/
	margin: 2px 0px 0px 5px;
	float: center;
	margin-top: .5em;
}
.diagonal.part-1 {
	float: top;
	/*padding: 3px 2px 3px 2px;*/
	margin: 2px 0px 0px 5px;
	transition: all 0.3s;
	box-sizing: border-box;
}
.diagonal.part-2 {
	transition: all 0.2s;
	margin: 2px 0px 0px 5px;
	box-sizing: border-box;
	float: bottom;
	margin-top: .5em;
}
input.openHostMenuCheckbox[type=checkbox]:checked ~ .hostMenuIconToggle > .horizontal {
	transition: all 0.2s;
	box-sizing: border-box;
	transform: rotate(180deg);
	opacity: .2;
	backdrop-filter: blur(5px);
}
input.openHostMenuCheckbox[type=checkbox]:checked ~ .hostMenuIconToggle > .diagonal.part-1 {
	transition: all 0.2s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 1.2em;
}
input.openHostMenuCheckbox[type=checkbox]:checked ~ .hostMenuIconToggle > .diagonal.part-2 {
	transition: all 0.2s;
	box-sizing: border-box;
	transform: rotate(225deg);
	margin-top: -1.2em;
}